<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doooly.dao.report.SendRedPackRecordDao">

	<insert id="insert" parameterType="com.doooly.entity.report.SendPackRecord" >
		INSERT INTO t_sendpack_record(
			user_id,
 			open_id,
  			source_user_id,
 			source_open_id,
 			source_nike_name,
 			channel,
 			result,
 			create_date
		) VALUES (
			#{user_id},
 			#{open_id},
  			#{source_user_id},
 			#{source_open_id},
 			#{source_nike_name},
 			#{channel},
 			#{result},
			NOW()
		)
  	</insert>
</mapper>