<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.doooly.SecretKeyDao" >
  
  <sql id="BaseColumnList">
  	id,public_key,private_key,create_date,modify_date,owner,is_valid
  </sql>
  
  <select id="get" resultType="com.doooly.entity.doooly.SecretKey" >
  	Select <include refid="BaseColumnList"/>
  	From secret_key
	Where is_valid = #{0}
  </select>
  
  <insert id="insert" parameterType="com.doooly.entity.doooly.SecretKey">
  	Insert into secret_key
  	(public_key,private_key,create_date,owner,is_valid)
  	Values
  	(#{publicKey},#{privateKey},#{createDate},#{owner},#{isValid})
  </insert>
  
  <update id="update" parameterType="com.doooly.entity.doooly.SecretKey">
  	Update secret_key
  	<set>
  		<if test="modifyDate != null">
  			modify_date = #{modifyDate},
  		</if>
  		<if test="isValid != null">
  			is_valid = #{isValid}
  		</if>
  	</set>
  	Where id = #{id}
  </update>
  
  <delete id="delete" >
  	Delete from secret_key
  	Where owner = #{0} and is_valid = #{1}
  </delete>
</mapper>