<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdBasicTypeDao" >
  <resultMap id="BaseResultMap" type="com.doooly.dao.reachad.AdBasicTypeDao" >
  </resultMap>
  
  <select id="getActivityCategoryList">
  	select 
  		a.id,
  		a.name,
  		a.code
  	from
  		ad_basic_type a
  	where
  		a.type = 3
  </select>

	<!--首页楼层配置-->
	<select id="getFloors" resultType="com.doooly.entity.reachad.AdBasicType">
		SELECT
			it.floor_id floorId,
			b.`name`,
			b.`code`,
			b.sort sort,
			b.sub_title subTitle,
			b.floor_type floorType,
			tg.template_id templateId
		FROM
			ad_user u
		INNER JOIN ad_home_template_group tg ON u.group_num = tg.group_id
		INNER JOIN ad_home_template_item it ON it.template_id = tg.template_id
		INNER JOIN ad_basic_type b ON it.floor_id = b.id
		where 
		u.id = #{userId} 
		and b.type = #{type}
		<if test="type == 3">
			and tg.template_type = 0
		</if>
		<if test="type == 4">
			and tg.template_type = 1
		</if>
		and
		GROUP BY it.floor_id
		ORDER BY b.sort
	</select>
  
</mapper>