<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdBasicTypeDao" >
  <resultMap id="BaseResultMap" type="com.doooly.dao.reachad.AdBasicTypeDao" >
  </resultMap>
  
  <select id="getActivityCategoryList">
  	select 
  		a.id,
  		a.name,
  		a.code
  	from
  		ad_basic_type a
  	where
  		a.type = 3
  </select>

	<!--首页楼层配置-->
	<select id="getFloors" resultType="com.doooly.entity.reachad.AdBasicType">
		select
			b.id,
			b.name,
			b.code,
			b.sort,
			fg.floor_id floorId
		from
			ad_user u
		INNER JOIN
			ad_floor_group fg
			on u.group_num = fg.group_id
		INNER JOIN
			ad_basic_type b
			on fg.floor_id = b.id
		where b.type=3 and b.state=1 and u.id = #{userId} ORDER BY sort
	</select>
  
</mapper>