<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doooly.dao.reachad.AdBusinessExpandInfoDao">
    
	<sql id="adBusinessExpandInfoColumns">
		a.id AS "id",
		a.business_id AS "businessId",
		a.shop_id AS "shopId",
		a.shop_key AS "shopKey",
		a.business_url AS "businessUrl",
		a.type AS "type",
		a.client_id AS "clientId",
		a.client_secret AS "clientSecret",
		a.pay_method as "payMethod"
	</sql>
	
	
	<select id="getByBusinessId" resultType="AdBusinessExpandInfo">
		select <include refid="adBusinessExpandInfoColumns"/> from ad_business_expand_info a where a.business_id=#{businessId}
	</select>

	<select id="getBusinessExpandInfo" resultType="AdBusinessExpandInfo">
		select
          <include refid="adBusinessExpandInfoColumns"/>
        from ad_business_expand_info a
        <where>
            <if test="businessId != null and businessId != ''">
                AND a.business_id=#{businessId}
            </if>
			<if test="clientSecret != null and clientSecret != ''">
				AND a.client_secret=#{clientSecret}
			</if>
			<if test="clientId != null and clientId != ''">
				AND a.client_id=#{clientId}
			</if>
        </where>
	</select>
</mapper>