<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdBusinessActivityRuleDao" >
  <resultMap id="BaseResultMap" type="com.doooly.entity.reachad.AdBusinessActivityRule" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="rule_desc" property="ruleDesc" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_id, type, value, rule_desc, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ad_business_activity_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ad_business_activity_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doooly.entity.reachad.AdBusinessActivityRule" >
    insert into ad_business_activity_rule (id, activity_id, type, 
      value, rule_desc, create_date
      )
    values (#{id,jdbcType=INTEGER}, #{activityId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{value,jdbcType=VARCHAR}, #{ruleDesc,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.doooly.entity.reachad.AdBusinessActivityRule" >
    insert into ad_business_activity_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityId != null" >
        activity_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="ruleDesc != null" >
        rule_desc,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityId != null" >
        #{activityId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doooly.entity.reachad.AdBusinessActivityRule" >
    update ad_business_activity_rule
    <set >
      <if test="activityId != null" >
        activity_id = #{activityId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="ruleDesc != null" >
        rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doooly.entity.reachad.AdBusinessActivityRule" >
    update ad_business_activity_rule
    set activity_id = #{activityId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      rule_desc = #{ruleDesc,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <sql id="GetActivityRule_Column">
  	abai.id as "info.id",
  	abai.activity_name as "info.activityName",
  	abai.business_id as "info.businessId",
  	abai.begin_time as "info.beginTime",
  	abai.end_time as "info.endTime",
  	abai.create_date as "info.createDate",
  	abai.activity_desc as "info.activityDesc",
  	abar.id as "id",
  	abar.type as "type",
  	abar.value as "value",
  	abar.rule_desc as "ruleDesc",
  	abar.create_date as "createDate"
  </sql>
  
  <select id="getActivityRule" resultType="com.doooly.entity.reachad.AdBusinessActivityRule" >
  	SELECT 
  		<include refid="GetActivityRule_Column"/>
  	FROM
  		ad_business_activity_rule AS abar JOIN ad_business_activity_info AS abai 
  		ON abai.id = abar.activity_id 
  	WHERE
  		abai.business_id = #{businessId}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>