<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdBusinessActivityInfoDao" >
  <resultMap id="BaseResultMap" type="com.doooly.entity.reachad.AdBusinessActivityInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_name" property="activityName" jdbcType="VARCHAR" />
    <result column="business_id" property="businessId" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="activity_desc" property="activityDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activity_name, business_id, begin_time, end_time, create_date, activity_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ad_business_activity_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ad_business_activity_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.doooly.entity.reachad.AdBusinessActivityInfo" >
    insert into ad_business_activity_info (id, activity_name, business_id, 
      begin_time, end_time, create_date, 
      activity_desc)
    values (#{id,jdbcType=INTEGER}, #{activityName,jdbcType=VARCHAR}, #{businessId,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{activityDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.doooly.entity.reachad.AdBusinessActivityInfo" >
    insert into ad_business_activity_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityName != null" >
        activity_name,
      </if>
      <if test="businessId != null" >
        business_id,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="activityDesc != null" >
        activity_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="activityName != null" >
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activityDesc != null" >
        #{activityDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.doooly.entity.reachad.AdBusinessActivityInfo" >
    update ad_business_activity_info
    <set >
      <if test="activityName != null" >
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null" >
        business_id = #{businessId,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="activityDesc != null" >
        activity_desc = #{activityDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.doooly.entity.reachad.AdBusinessActivityInfo" >
    update ad_business_activity_info
    set activity_name = #{activityName,jdbcType=VARCHAR},
      business_id = #{businessId,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      activity_desc = #{activityDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <sql id="GetActivityRule_Column">
  	abai.id as "id",
  	abai.activity_name as "activityName",
  	abai.business_id as "businessId",
  	abai.begin_time as "beginTime",
  	abai.end_time as "endTime",
  	abai.create_date as "createDate",
  	abai.activity_desc as "activityDesc",
  	abar.id as "rule.id",
  	abar.type as "rule.type",
  	abar.value as "rule.value",
  	abar.rule_desc as "rule.ruleDesc",
  	abar.create_date as "rule.createDate"
  </sql>
  
  <select id="getActivityRule" resultType="com.doooly.entity.reachad.AdBusinessActivityInfo" >
  	SELECT 
  		<include refid="GetActivityRule_Column"/>
  	FROM
  		ad_business_activity_info AS abai JOIN ad_business_activity_rule AS abar 
  		ON abar.activity_id = abai.id
  	WHERE
  		abai.business_id = #{businessId}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>