<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdBusinessServicePJDao" >
  <resultMap id="BaseResultMap" type="com.doooly.entity.reachad.AdBusinessServicePJ" >
  </resultMap>
  <sql id="adBusinessServicePJColumns" >
    	  a.id,
		  a.service_name as "serviceName",
		  a.service_url as "serviceUrl",
		  a.service_logo as "logo",
		  a.business_id as "businessId",
		  a.sort as "sort",
		  a.create_date as "createDate",
		  a.update_date as "updateDate",
		  a.create_by as "createBy",
		  a.update_by as "updateBy"
  </sql>

  <select id="getDataByUserId" resultType="com.doooly.entity.reachad.AdBusinessServicePJ">
  	Select <include refid="adBusinessServicePJColumns"/>,b.deal_type as "dealType"
  	From ad_business_service a
  	LEFT JOIN ad_business b on a.business_id = b.id
		LEFT JOIN ad_business_group bg on b.id = bg.business_id
		LEFT JOIN ad_group g on bg.group_id = g.id
		join ad_user u on u.group_num = g.id
	  <if test="address != null and address != ''">
		  join ad_business_area_conn abac on abac.business_id = a.business_id
		  join ad_area aa on aa.id = abac.area_id
	  </if>
	where u.id = #{userId}
	  <if test="serviceType != null and serviceType !=''">
	  	and a.service_type = #{serviceType}
	  </if>
	  <if test="address != null and address != ''">
		 AND (aa.name =#{address} or aa.name ="全国")
	  </if>
	  GROUP BY a.id order by a.sort desc
  </select>

 
</mapper>