<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doooly.dao.reachad.AdCouponDao">
	<resultMap id="BaseResultMap" type="com.doooly.entity.reachad.AdCoupon">
		<id column="id" property="id" jdbcType="BIGINT" />
	</resultMap>
	<sql id="couponColumns">
		a.id AS "id",
		a.business_id AS "businessId",
		a.begin_date AS "beginDate",
		a.end_date AS "endDate",
		a.name AS "name",
		a.product_sn AS "productSn",
		a.quantity AS "quantity",
		a.distribution_quantity AS "distributionQuantity",
		a.remind_quantity AS "remindQuantity",
		a.is_open AS "isOpen",
		a.product_id AS "productId",
		a.product_name AS "productName",
		a.product_second_category AS "productSecondCategory",
		a.first_show AS "firstShow",
		a.product_first_category AS "productFirstCategory",
		a.business_name AS "businessName",
		a.activity_name AS "activityName",
		a.is_creat AS "isCreat",
		a.del_flag AS "delFlag",
		a.remarks AS "remarks",
		a.update_date AS "updateDate",
		a.create_date AS "createDate",
		a.coupon_type AS "couponType",
		a.receive_type AS "receiveType",
		a.coupon_value AS "couponValue",
		a.coupon_unit AS "couponUnit",
		a.type AS "type"

	</sql>
<select id="findFirstCategory" resultType="com.doooly.entity.reachad.AdCoupon">
		SELECT 
			<include refid="couponColumns" />
		FROM 
			ad_coupon a
		WHERE 
			type = #{type} 
			and first_show = 1 
			and receive_type =0 
			and remind_quantity &gt; 0 
			and del_flag = 1
			order by id
	</select>
<select id="findBusinessIdByCouponId" resultType="java.lang.String">
		select ab.business_id
from ad_coupon ac join ad_business ab on ac.business_id = ab.id where ac.id = #{id} 
	</select>
	
	<!-- APP首页商家优惠券  add by ylzhang begin -->
	<select id="getThirdBusinessList" resultType="com.doooly.entity.reachad.AdBusiness">
		SELECT b.id,b.company,b.logo 
		FROM ad_coupon c
		INNER JOIN ad_business b
			ON c.business_id = b.id
		WHERE NOW() between c.begin_date AND c.end_date
			AND c.del_flag = 0
			AND c.is_open = 1
			AND c.receive_channel = 1
		GROUP BY b.id
	</select>
	
	<select id="getCouponNumByBusinessId" resultType="java.lang.Integer">
        SELECT COUNT(c.id)
		FROM ad_coupon c
		INNER JOIN ad_business b
			ON c.business_id = b.id
		WHERE 
			NOW() between c.begin_date AND c.end_date
			AND c.del_flag = 0
			AND c.is_open = 1
			AND c.receive_channel = 1
			<if test="businessId != null and businessId != '' and businessId != 0">
				AND b.id = #{businessId}
			</if>
    </select>

    <select id="getCouponListByBusinessId" resultType="com.doooly.entity.reachad.AdCoupon">
        SELECT 
        	c.product_name AS "productName",
			c.description AS "description",
			c.business_online_url AS "businessOnlineUrl",
			c.begin_date AS "beginDate",
			c.end_date AS "endDate",
			c.kind AS "kind",
			c.coupon_value AS "couponValue",
			c.remarks AS "remarks",
			c.coupon_user_detail AS "couponUserDetail",
			c.coupon_category AS 'couponCategory',
			c.description AS 'description',
			b.logo AS "wechatDetailImage"
		FROM ad_coupon c
		INNER JOIN ad_business b
			ON c.business_id = b.id
		WHERE 
			NOW() between c.begin_date AND c.end_date
			AND c.del_flag = 0
			AND c.is_open = 1
			AND c.receive_channel = 1
			<if test="businessId != null and businessId != '' and businessId != 0">
				AND b.id = #{businessId}
			</if>
			<if test="categoryType != null and categoryType != '' and categoryType != 0">
				AND c.category_type = #{categoryType}
			</if>
        LIMIT #{startIndex},#{pageSize}
    </select>
    <!-- APP首页商家优惠券  add by ylzhang end -->
    
    <select id="get" resultType="com.doooly.entity.reachad.AdCoupon">
    	SELECT 
			<include refid="couponColumns" />
		FROM 
			ad_coupon a
		WHERE 
			a.id = #{id}
    </select>
    
    <!-- 活动分配卡券后,冲减库存 -->
	<update id="updateCouponCount" parameterType="HashMap">
		update 
			ad_coupon a 
		set 
			a.distribution_quantity = distribution_quantity - #{count},
			a.remind_quantity = a.remind_quantity + #{count} 
		where a.id = #{couponId}
	</update>

    <select id="findCoupon" resultType="com.doooly.entity.reachad.AdCoupon">
        SELECT
            a.id AS "couponId",
            c.id AS "id",
            c.begin_date AS "beginDate",
            c.end_date AS "endDate",
            a.product_name AS "productName",
            a.business_name AS "businessName",
            a.coupon_value AS "couponValue",
            d.id AS "activityId",
            d.introduction AS "introduction",
            a.description AS "description",
            a.description AS "couponDescription",
            a.receive_channel AS "receiveChannel",
            a.business_online_url AS "businessOnlineUrl",
            a.coupon_category AS "couponCategory",
            ab.logo AS "bussinessLogo",
            CASE
            WHEN b.user_id = #{userId} AND b.activity_id = #{activityId} THEN '2'
            WHEN c.coupon_remind_quantity  = 0 THEN '4'
            WHEN DATE_FORMAT(c.begin_date,'%Y-%m-%d') = DATE_FORMAT(NOW(),'%Y-%m-%d') THEN '1'
            WHEN DATE_FORMAT(c.begin_date,'%Y-%m-%d') = DATE_FORMAT(#{endDate},'%Y-%m-%d') THEN '3'
            end AS couponStatus
        FROM ad_coupon a
        LEFT JOIN ad_coupon_code b ON a.id = b.coupon AND b.user_id = #{userId} AND b.activity_id = #{activityId}
        INNER JOIN ad_coupon_activity_conn c ON a.id = c.coupon_id
        INNER JOIN ad_coupon_activity d ON d.id = c.activity_id
        INNER JOIN ad_business ab ON a.business_id = ab.id
        WHERE c.begin_date &gt;=#{startDate}
              AND c.begin_date &lt;=#{endDate} AND c.activity_id = #{activityId}
        ORDER BY a.id ASC
        limit #{couponNumLimit}
    </select>
	
</mapper>