<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doooly.dao.reachad.AdGroupFeedbackDao">
	<resultMap id="resultMap" 
		type="com.doooly.entity.reachad.AdGroupFeedback">
	</resultMap>
	
	<insert id="insert" parameterType="com.doooly.entity.reachad.AdGroupFeedback" >
      INSERT INTO ad_group_feedback(
			id,
			account_id,
			account_type,
			title,
			content,
			is_anonymous,
			create_date
		) VALUES (
			#{id},
			#{accountId},
			#{accountType},
			#{title},
			#{content},
			#{isAnonymous},
			#{createDate}
		)
  	</insert>
	
</mapper>