<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doooly.dao.reachad.AdReturnDetailDao">

    <sql id="adReturnDetailColumns">
        a.id AS "id",
        a.category_id AS "categoryId",
        a.code AS "code",
        a.goods AS "goods",
        a.amount AS "amount",
        a.number AS "number",
        a.tax AS "tax",
        a.create_by AS "createBy",
        a.del_flag AS "delFlag",
        a.remarks AS "remarks",
        a.update_date AS "updateDate",
        a.update_by AS "updateBy",
        a.create_date AS "createDate"
    </sql>
	
  <insert id="insert" parameterType="com.doooly.entity.reachad.AdReturnDetail" >
    insert into 
    ad_return_detail 
    (
	      id, 
	      return_flow_id, 
	      category_id, 
	      code, 
	      goods, 
	      amount, 
	      number, 
	      create_by, 
	      del_flag, 
	      remarks, 
	      tax, 
	      update_date, 
	      update_by, 
	      create_date 
      )
    values 
    (
    		  #{id,jdbcType=BIGINT}, 
    		  #{returnFlowId,jdbcType=BIGINT}, 
	      #{categoryId,jdbcType=VARCHAR}, 
	      #{code,jdbcType=VARCHAR}, 
	      #{goods,jdbcType=VARCHAR}, 
	      #{amount,jdbcType=DECIMAL}, 
	      #{number,jdbcType=DECIMAL}, 
	      #{createBy,jdbcType=VARCHAR}, 
	      #{delFlag,jdbcType=CHAR}, 
	      #{remarks,jdbcType=VARCHAR}, 
	      #{tax,jdbcType=DECIMAL}, 
	      #{updateDate,jdbcType=TIMESTAMP}, 
	      #{updateBy,jdbcType=VARCHAR}, 
	      #{createDate,jdbcType=TIMESTAMP} 
     )
  </insert>

    <select id="getList" parameterType="com.doooly.entity.reachad.AdReturnFlow" resultType="com.doooly.business.order.vo.OrderItemVo">
        SELECT
        <include refid="adReturnDetailColumns"/>
        FROM ad_return_detail a
        <where>
            <if test="id != ''">
                AND a.return_flow_id = #{id}
            </if>
        </where>
    </select>
	
</mapper>